@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nashville Software School Cohort 29:</h1>
    <h1 class="display-4">Bangazon Workforce System</h1>
    <p>Contributors: Megan Cruzen, Russell Reiter, and Cole Bryant</p>
</div>
